//.HeaderMenu
	
.HeaderMenu-item
	display inline-block
	cursor pointer
	text-transform uppercase
	text-align center
	
	i
		font-size 1.5em
		&:before
			top 3px
			position relative
			margin 0 5px
	
	&:hover
		background-color #414141
