.Header
	background-color #353535
	color #fff
	height 70px
	left 0
	line-height 70px
	position fixed
	right 0
	z-index 1000000

.Header-logo
	background-image url('../images/header-logo.jpg')
	height 70px
