//Colors

white = #fff
gray = #f1f1f1
purple = #292056
dark-purple = #06050A

body
	font-family 'Open Sans', sans-serif

@import 'modules/Header.styl'
@import 'modules/HeaderMenu.styl'
@import 'modules/MainSection.styl'